.main-container h1 {
	text-align: center;
    font-size: 35px;
    padding: 10px 0;
    margin-bottom: 20px;
    color: #fff;
    background-color: #9F9F9F;
}

.main-container form {
    width: 660px;
    text-align: center;
    margin: 0 auto;
    padding: 50px;

}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group input,
textarea,
select {
    width: 60%;
    padding: 8px 5px 6px;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 23.5px;
    border: 1px solid #9F9F9F;
    margin-left: -5px;
    background-color:#DDD9D9;
}

.input-group input::placeholder{
    color:#000000;
}


select {
    width: 62%;
    height: 39px;
    background-color:#DDD9D9;

}

#message-label {
    height: 86px;
    float: left;
    line-height: 80px;
}

textarea {
    
    height: 90px;
}

.input-group textarea::placeholder{
	color:#000000;
	font-family:"Arial Black", Gadget, sans-serif;
}

.input-group label {
    width: 35%;
    display: inline-block;
    background-color: #9F9F9F;
    padding: 10px;
    float: left;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

button {
    width: 120px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    margin-top: 20px;
}

.btnreset {
    border: 1px solid #9F9F9F;
}

.btnreset:hover {
    background-color: #9F9F9F;
}

.btnsubmit {
    border: 1px solid #C00509;
}

.btnsubmit:hover {
    background-color:#000000;
	color: #FFFFFF;
}
